.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.toolbar-filler {
    flex: 1 1 auto
}

.co {
    background-color: rgba(20, 25, 88, 0.959) !important;
    color: white !important;
    box-shadow: 2px 2px 15px grey;
}



.divb {
    padding: 8px !important;
    border-radius: 15px !important;
    box-shadow: 0 4px 8px 0 rgb(240, 235, 235), 0 6px 20px 0 rgba(214, 201, 201, 0.938) !important;
}

.activeLi {
    color: rgba(255, 72, 0, 0.856) !important;
    box-shadow: 0 0px 0px 0 rgb(240, 235, 235), 0 0px 0px 0 rgba(214, 201, 201, 0.938) !important;
}

.log {
    background-color: white !important;
    border-radius: 5px !important;
}
